# files
.vscode
.env
.env.local
package-lock.json
yarn.lock

# folders
build
node_modules
prisma/data.*
prisma/migrations

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
